streamlit==1.38.0
numpy
opencv-python
matplotlib
plotly
pydicom
nibabel
SimpleITK
pillow
scikit-image
streamlit-player
streamlit-option-menu
streamlit-drawable-canvas
torch
pandas
segmentation_models_pytorch
albumentations